[user]
	name = hexaflexahexagon
	email = hexaflexahexagon@users.noreply.github.com
[pull]
	rebase = false
[init]
	defaultBranch = master
[core]
	editor = vim
	pager = less
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
